body {
    background-color: #f5f5f5;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

span{
    color: #72777c;
    font-size: 20px;
}

.register-form{
    width: 350px;
    height: 380px;
    margin: 10% auto auto auto;
    background: white;
    padding: 30px 20px 30px 20px;
    box-sizing: inherit;
    box-shadow: 0 2px 15px #bbbbbb;
}

.login-form{
    width: 350px;
    height: 240px;
    margin: 15% auto auto auto;
    background: white;
    padding: 30px 20px 30px 20px;
    box-sizing: inherit;
    box-shadow: 0 2px 15px #bbbbbb;
}

.input-text {
    font-size: 26px;
    background-color: #ffffff;
    color: #32373c;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    height: 46px;
    width: 100%;
}

.input-text:hover {
    border-color: #5b9dd9;
}

.input-submit{
    background: #00a0d2;
    color: white;
    border:1px solid #0086ba;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width: 100%;
    font-size: 26px;
    margin: 30px auto 20px auto;
    cursor: pointer;
    box-shadow: 0 1px 0 #006799;
}

.input-submit:hover{
    /*border-color: #00b9eb;*/
    background: #00b9eb;
}

.register {
    float: left;
    color: #225592;
    cursor: pointer;
    text-decoration: none;
}

.find-pwd {
    float: right;
    color: #225592;
    cursor: pointer;
    text-decoration: none;
}