.input-text {
    font-size: 0.8em;
    background-color: #ffffff;
    color: #32373c;
    border: 1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    /*margin-left: 5%;*/
    height: 4%;
    width: 80%;
}

.input-text:hover {
    border-color: #5b9dd9;
}

.input-submit {
    font-size: 0.8em;
    background-color: #0073aa;
    padding: 20px auto 20px auto;
    color: white;
    border: 1px solid #006799;
    /*width: 8%;*/
    /*height: 3%;*/
}

.input-submit:hover {
    background-color: #008ec2;
}

.manage-left-list {
    display: inline;
    float: left;
    width: 300px;
    height: 100%;
    background-color: #23282d;
}

.manage-right{
    display: inline;
    float: left;
    width: 80%;
    height: 100%;
    font-size: 2em;
}

.list-item{
    font-size: 1.5em;
    /*color: white;*/
    /*font-style: inherit;*/
    /*border: #eeeeee solid 1px;*/
    margin: 0.3em;
    /*border-radius: 10px;*/
}

.a-list-text {
    font-size: 1.3em;
    color: #b4b9bc;
    font-style: normal;
    text-decoration: none;
}

.a-list-text:hover {
    color: #00b9eb;
    text-decoration: none;
}

.text{
    border: 2px;
    border-radius: 5px;
}

.article-list{
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 5px 20px #bbbbbb;
    /*-webkit-box-sizing: inherit;*/
    /*-moz-box-sizing: inherit;*/
    /*box-sizing: inherit;*/
    width: 80%;
    min-width: 500px;
    height: 80%;
    margin: 5% auto auto auto;
    text-align: center;
    background: #f5f5f5;
    color: #00a0d2;
    font-size: 2em;
    font-style: inherit;
    display: block;
}

.content-index {
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    box-shadow: 0 5px 20px #bbbbbb;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    width: 70%;
    min-width: 500px;
    height: 60%;
    margin: 10% auto auto auto;
    text-align: center;
    background: #f5f5f5;
    color: #00a0d2;
    font-size: 2em;
    font-style: inherit;
    display: block;

}

.content-body {
    border: 3px solid #eeeeee;
    background: #f5f5f5;
    padding: 1em 1em 1em 1em;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    box-shadow: 0 5px 20px #bbbbbb;
}

.content-title {
    margin: 2.5% auto 2.5% 5%;
    font-size: 1.3em;
    background-color: #e9e9e9;
    font-style: inherit;
    color: #000;
}

.form-option {
    display: inline;
    float: left;
    width: 40%;
    margin: 0 auto auto auto;
}

.table-option {
    font-size: 1em;
    background: white;
    border: 1px solid #e5e5e5;
    display: table;
    border-collapse: separate;
    /*border-collapse:collapse;*/
    border-spacing: 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    box-sizing: inherit;
    table-layout: fixed;
    margin: 10px 0 10px 0;
    min-width: 500px;
    width:80%;

}


tbody{
    background-color: #f4f6f7;
    /*border-collapse:collapse;*/
    border: 1px solid black;
    font-size: 0.8em;

}

thead{
    text-align: left;
    padding-left: 20px;
    color: #00a0d2;
}

thead td{
    text-align: left;
    padding-left: 20px;
    border: 1px solid #f5f5f5;
}

tbody td{
    border: 1px solid #f5f5f5;
    font-size: 0.9em;
    text-align: left;
    padding-left: 20px;
}

tbody td a {
    text-decoration: none;
    /*background: transparent;*/
    font-size: 0.9em;
    margin: 0 3px 0 3px;
    cursor: pointer;
    /*border: 0;*/
    color: #00a0d2;
}

.column-count{
    font-size:0.8em;
}

.checkbox-delete{
    border: 1px solid #b4b9be;
    background-color: #ffffff;
    color: #00a0d2;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-radius: 0;
    box-sizing: border-box;
    /*transition: .05s border-color ease-in-out;*/
}

.article-list-table{
    font-size: 0.6em;
    background: white;
    border: 1px solid #e5e5e5;
    display: table;
    border-collapse: separate;
    /*border-collapse:collapse;*/
    border-spacing: 0;
    /*box-shadow: 0 1px 1px rgba(0,0,0,.04);*/
    box-sizing: inherit;
    table-layout: fixed;
    margin: 0 0 10px 0;
    min-width: 500px;
    width:100%;

}

.label-span{
    /*border:1px solid #00BFFF;*/
    /*background: #00BFFF;*/
    color: #57ad68;
    background: #f5f5f5;;
    padding: 0 10px 0 10px;
    font-style: inherit;
    margin: 0 3px 0 3px;
    /*font-size:26px;*/
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius: 4px;
}