<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.blog.dao.CatalogueDao">
    <resultMap id="Catalogue" type="com.blog.pojo.Catalogue">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
    </resultMap>

    <select id="getAllCatalogue" resultMap="Catalogue">
        SELECT * FROM catalogue
    </select>

    <insert id="addCatalogue" parameterType="com.blog.pojo.Catalogue">
        INSERT INTO catalogue(name) values(#{name})
    </insert>
</mapper>