<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.CatalogueDao">

    <select id="getAllCatalogue" resultType="com.blog.pojo.Catalogue">
        SELECT * FROM catalogue
    </select>

    <insert id="addCatalogue" parameterType="com.blog.pojo.Catalogue">
        INSERT INTO catalogue(name) values(#{name})
    </insert>

    <select id="findIdByName" parameterType="String" resultType="int">
        SELECT id from catalogue WHERE name=(#{name})
    </select>

    <select id="findNameById" parameterType="int" resultType="String">
        SELECT name FROM catalogue WHERE id=#{id}
    </select>

    <delete id="deleteCatalogueById" parameterType="int">
        DELETE FROM catalogue WHERE id=#{id}
    </delete>

    <select id="findCatalogueById" parameterType="int" resultType="com.blog.pojo.Catalogue">
        SELECT * FROM catalogue WHERE id=#{id}
    </select>

    <update id="updateCatalogue" parameterType="com.blog.pojo.Catalogue">
        UPDATE catalogue SET name=#{name} WHERE id=#{id}
    </update>
</mapper>