<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.LabelDao">

    <select id="getAllLabels" resultType="com.blog.pojo.Label">
        select * from label;
    </select>

    <insert id="addLabel" parameterType="com.blog.pojo.Label">
        insert INTO label(name) VALUES (#{name})
    </insert>

    <select id="findIdByName" parameterType="String" resultType="int">
        SELECT id from label WHERE name=(#{name})
    </select>

    <select id="findNameById" parameterType="int" resultType="String">
        SELECT name FROM label WHERE id=#{labelId}
    </select>
</mapper>